.Top5{
    width: 1200px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.50);
    padding-bottom: 12px;
    margin-bottom: 44px;
}
.Top5 h2{
    color: #46A358;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
}
@media(max-width:425px){
    .Top5{
        width: 410px;
    }
}